@model  HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_CarouselView")

<div class="row">
    @using (Html.BeginForm("Search", "Home"))
    {
        <div class="col-md-1 pull-right">
            <button type="submit" class="btn pull-right"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
        <div class="col-md-4 pull-right">
            <input required type="search" name="SearchText" class="form-control" placeholder="Search..." />
        </div>
    }
</div>
<br />

<div class="row">
    @Html.Partial("_GamesListingPartial", Model.Games)
</div>


