@model  HomeIndexViewModel

@{
    ViewBag.Title = $"Search";
}

<h2 class="text-default">Search Results For "@Model.SearchText"</h2>

@if (Model.Games.Any())
{
    <h3 class="text-default">Found Games</h3>

    <div class="row">
        @Html.Partial("_GamesListingPartial", Model.Games)
    </div>
}
else
{
    <h3 class="text-default">No games to show.</h3>
}

<br />


