@model IQueryable<AdminOrdersWithUserInfo>

@{
    ViewBag.Title = "All Orders";
}

<h2>Orders</h2>

<div>
    <ul class="breadcrumb">
        <li>
            @Ajax.ActionLink("All", "InProgressOrFinishedOrders", "Users",
           new { area = "Admin", showedBy = "all" },
           new AjaxOptions
           {
               UpdateTargetId = "result",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "POST"
           }, new { @class = "btn" })
        </li>
        <li>
            @Ajax.ActionLink("In Progress", "InProgressOrFinishedOrders", "Users",
           new { area = "Admin", showedBy = "progress" },
           new AjaxOptions
           {
               UpdateTargetId = "result",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "POST"
           }, new { @class = "btn"})
        </li>
        <li>
            @Ajax.ActionLink("Finished", "InProgressOrFinishedOrders", "Users",
           new { area = "Admin", showedBy = "finished" },
           new AjaxOptions
           {
               UpdateTargetId = "result",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "POST"
           }, new { @class = "btn" })
        </li>
    </ul>
</div>

<div class="row" id="result">
    @Html.Partial("_OrdersPartialView", Model)
</div>