
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

    .caption h4 {
        white-space: nowrap;
    }

.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

.carousel .item {
    height: 400px;
}

footer {
    background: #333333;
    color: white;
    padding: 15px 10px;
    font-size: 0.8em;
    text-align: center;
}


.btn {
    border: 2px;
    box-shadow: none;
    background: none;
    outline: none;
    color: white;
    background-color: darkgrey;
    padding: 10px 25px;
    margin: 0px;
    font: 16px 'Open Sans', sans-serif;
    border-bottom: 1px solid white;
    transition: all .2s ease-in-out;
}

.btn:focus {
    border-color: #00bbbb;
}

.btn:hover{
    background: #00bbbb;
    border-color: #00bbbb;
    transform: scale(1.1);
    cursor: pointer;
}

.embed-responsive-21by9 {
    width: 350px;
    height: 350px;
    display: flex;
    margin: auto;
}