@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@GlobalResources.ViewLockOut</h1>
    <h2 class="text-danger">@GlobalResources.ViewLockOutText</h2>
</hgroup>
