@model  ModeratorGameServiceModel

@{
    ViewBag.Title = $"Edit";
}

<div class="row ">
    <h2 class="text-default">@ViewBag.Title</h2>
    @Html.Partial("_CreateEditPartialView", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
